/* Custom css file for index.html */

.wrap {
width: 100%;

}

#myGraph {
      float:left;
      width: 75%;
      background-color: white;
      background-image: url("../img/wiki.gif");
       opacity: 0.85;
      background-size: 250px;
      height: 800px;
      border-style: solid;
      border-width: 1px;
      border-color: black;
}

#Info {
      float: right;
      background-color: white;
      height: 800px;
      width: 24%;

}

#container{
      position:relative;
      height:800px;
      width:100%;

}

#Top, #Bottom{
      position:absolute;
      height: 100%;
      width:100%;
      border-style: solid;
      border-width: 1px;
      border-color: black;

}

#Bottom{
      bottom:0;
}

#Top{
      top:0;
}

#myGraph h1{
      font-size:48px;
      font-family:serif;
      color: red;
      text-align: center;
}

#myGraph p{
      font-size:20px;
      font-family:sans-serif;
      color: blue;
      font-weight: bolder;
      text-align: center;

}

#Top h1, #Bottom h1{
      font-size:24px;
      font-family:serif;
      color: blue;
      text-align: center;
}

#urlForm{
      text-align: center;

}

#Top h4{
      font-size:18px;
      font-family:serif;
      color: blue;
      text-align: center;
}

#mynetwork {
  width: 760px;
  height: 600px;
  border: 1px solid lightgray;
  //width: 60%;
  //height: 60%;
  margin: 0 auto;
  background-color: white;

}

#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
